@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@font-face {
  font-family: VT323;
  src: url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
}


*  {
    font-family: 'VT323';
}

body {
    margin: 0;
    background-color: black
}

/* D3 FIGHTERS */
.recordplayer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin-right: 0px;
}

.headbar {
    display: flex;
    justify-content: center;
    font-size: 100px;
    font-family: 'VT323';
    color: white;
    margin-left: 20px;
}

/* CHOOSE YOUR FIGHTER */
.choosefighter {
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
    font-family: 'VT323';
    color: white;
    margin-right: 0px;
}

/*1p box & 2p box */
.PlayerBox {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.playername {
    display: flex;
    flex-direction: column;
}

.oppname {
    display: flex;
    flex-direction: column;
}

.opptag {
    color: white;
    font-size: 30px;
    margin-top: 2px;
}

.playertag {
    color: white;
    font-size: 30px;
    margin-top: 2px;
}


.PBOX {
    background: tomato;
    padding: 0px;
    width: 400px;
    height: 440px;
    margin-top: 36px;
}

.PBOX img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.EBOX {
    background: tomato;
    padding: 0px;
    width: 400px;
    height: 440px;
    margin-top: 36px;
}

.EBOX img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vs {
    color: white;
    font-size: 60px;
}

/* Select one of us */
.box {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    margin-top: 82px;
}


.selectJoey {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.joeytxt {
    font-size: 30px;
    margin-top: 7px;
    margin-bottom: 0px;
    color: white;
    text-align: center;
}

.joeyimg:focus {
    outline: 5px solid #fff !important;
    overflow: hidden;
}


.jordanimg:focus {
    outline: 5px solid #fff !important;
}


.joshimg:focus {
    outline: 5px solid #fff !important;
}


.carterimg:focus {
    outline: 5px solid #fff !important;
}


.selectJordan {
    display: flex;
    flex-direction: column;
}

.jordantxt {
    font-size: 30px;
    margin-top: 7px;
    margin-bottom: 0px;
    color: white;
    text-align: center;
}

.selectJosh {
    display: flex;
    flex-direction: column;
}

.joshtxt {
    font-size: 30px;
    margin-top: 7px;
    margin-bottom: 0px;
    color: white;
    text-align: center;
    
}

.selectCarter {
    display: flex;
    flex-direction: column;
}

.cartertxt {
  font-size: 30px;
  margin-top: 7px;
  margin-bottom: 0px;
  color: white;
  text-align: center;
}

.box {
    display: flex;
    flex-direction: row;
    gap: 90px;
    margin-top: 55px;
}

.box img {
    width: 175px;
    height: 175px;
    min-width: 100px;
}


button {
    background-color: #2F2830;
    border: 0;
    color: #ffff;
    cursor: pointer;
    width: 43px;
    height: 30px;
    transition: all 0.3s;
    align-items: center;
    display: flex;
    flex-direction: row;
  }

button:hover {
    color: green;
}

button i {
    font-size: 2.5vw;
}

.container {
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
  }

.radio {

    appearance: none;
    width: 20px;
    height: 30px;
    border-top: 0.2vw solid black;
    background-color: #2F2830;
    transition: 0.2s all linear;
    margin-left: -2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
  }

input:checked {
    border-bottom: 0.2vw solid green;
    background-color: green;
}

.radios-container {
    margin: auto;
    margin-left: 10px;
}

.container {
    display: none;
}

.fight {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.fightbtn {
    width: 200px;
    height: 50px;
    font-size: 35px;
    line-height: 50px;
    padding-left: 61px;
    color: white;
    background-color: #8b0000;
}

.fightbtn:hover {
    color: black;
}

.stats {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.statbox {
    display: flex;
    flex-direction: column;
    color: white;
    margin-right: 25px;
    font-size: 25px;
    outline: 2.5px solid #fff !important;
    padding: 7.5px;
}

.oppstats {
    display: flex;
    flex-direction: row-reverse;
}

.oppstatbox {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 25px;
    outline: 2.5px solid #fff !important;
    padding: 7.5px;
    height: fit-content;
    margin-top: 40px;
    margin-left: 25px;
}

.hero {
    color: white;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ability {
    color: white;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.abilityimgbox {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: lightslategray;
    height: 50px;
    border-radius: 5px;
}

.oppabilbox {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: lightslategray;
    height: 50px;
    border-radius: 5px;
}

.abilityimg {
    margin-top: 6px;
    height: 40px;
}

.oppabilityimg {
    margin-top: 6px;
    height: 40px;
}

.oppability {
    color: white;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.statbars {
    margin-top: 5px;
    margin-bottom: 5px;
}

.insertstat {
    margin: 0px;
}

.insertstatbtm {
    margin: 0px;
}

@media only screen and (max-width: 800px) {

    body {
        margin: 0;
        background-color: black
    }

    .vs {
        margin: 0px;
    }

    .playername {  
        margin-bottom: 30px;

    }

    .headbar {
        font-size: 48px;
    }

    .choosefighter {
        font-size: 24;
    }

    .PlayerBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    .PBOX {
        width: 100%;
        height: 300px;
        margin-top: 5px;
    }

    .EBOX {
        width: 100%;
        height: 300px;
        margin-top: 5px;
    }

    .box {
        display: none;
        /* display: grid;
        grid-template:
            "Joey Jordan" 100px
            "Josh Carter" 100px
        ; */
    }

    .headbar {
        margin-top: 37px;
    }

    .choosefighter {
        margin: 0px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    .buttons-container {
        display: flex;
        padding-top: 17.5px
    }

    .buttons-container i {
        text-align: center;
        font-size: 18px;
        font-family: 'VT323';

    }

    .fight {
        display: flex;
        justify-content: center;
        margin-bottom: 17.5px;
    }

    .radios-container {
        margin-right: 0;
        padding-top: 17.5px;
    }

    .statbox {
        margin-top: 82.5px;
    }

    .oppstatbox {
        margin-top: 7.5px;
    }
}

