@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@font-face {
  font-family: VT323;
  src: url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
}


*  {
    font-family: 'VT323';
}

body {
    margin: 0;
    background-color: black
}

/* D3 FIGHTERS */
.headbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 100px;
    font-family: 'VT323';
    color: red;
}

/* CHOOSE YOUR FIGHTER */
.choosefighter {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    font-family: 'VT323';
    color: red;
}

/*1p box & 2p box */
.PlayerBox {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
}

.PBOX {
    background: tomato;
    padding: 0px;
    width: 300px;
    height: 440px;
    margin-top: 36px;
}

.PBOX img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stats {
    background: tomato;
    padding: 0px;
    width: 120px;
    height: 50px;
    text-align: center;
    line-height: 80px;
    z-index: 1;
}

/* Select one of us */
.box {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    margin-top: 82px;
}

.selectJoey {
    display: flex;
    align-items: center;
    justify-content: center;
}


.joeytxt {
    font-size: 30px;
}

.selectJordan {
    display: flex;
    align-items: center;
    justify-content: center;
}

.jordantxt {
    font-size: 30px;
}

.selectJosh {
    display: flex;
    align-items: center;
    justify-content: center;
}

.joshtxt {
    font-size: 30px;
    
}

.selectCarter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartertxt {
  font-size: 30px;
}


.box div {
    background: tomato;
    padding: 0px;
    width: 175px;
    height: 120px;
    line-height: 160px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    min-width: 100px;
}

.box img {
    width: 175px;
    height: 120px;
    min-width: 100px;
}



.viewStats {
    display: none;
}

.viewStats div {
    background-color: pink;
    height: 38px;
    width: 172px;
    text-align: center;
}

button {
    background-color: #2F2830;
    border: 0;
    color: #C1AAC6;
    cursor: pointer;
    width: 43px;
    height: 26px;
    transition: all 0.3s;
    align-items: center;
    display: flex;
    flex-direction: row;
  }

button:hover {
    color: blue;
}

button i {
    font-size: 2.5vw;
}

.container {
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
  }

.radio {

    appearance: none;
    width: 20px;
    height: 20px;
    border-top: 0.2vw solid blue;
    background-color: #2F2830;
    transition: 0.2s all linear;
    margin-left: -2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
  }

input:checked {
    border-bottom: 0.2vw solid blue;
    background-color: blue;
}

.radios-container {
    margin: auto;
    margin-left: 10px;
}

.container {
    display: none;
}

.fight {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.fightbtn {
    width: 225px;
    height: 50px;
    font-size: 35px;
    line-height: 50px;
    padding-left: 70px;
    border-radius: 5px;
    color: red;
}

@media only screen and (max-width: 800px) {


    .headbar {
        font-size: 48px;
    }

    .choosefighter {
        font-size: 24;
    }

    .PlayerBox {
        flex-direction: column;
        gap: 40px;
    }

    .PBOX {
        width: 100%;
        height: 250px;
    }

    .box {
        display: none;
        /* display: grid;
        grid-template:
            "Joey Jordan" 100px
            "Josh Carter" 100px
        ; */
    }

    .headbar {
        margin-top: 37px;
    }

    .choosefighter {
        margin: 0px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buttons-container {
        display: flex;
        padding-top: 17.5px
    }

    .buttons-container i {
        text-align: center;
        font-size: 18px;
        font-family: 'VT323';

    }

    .fight {
        display: flex;
        justify-content: center;
        margin-bottom: 17.5px;
    }

    .radios-container {
        margin-right: 0;
        padding-top: 17.5px;
    }
}